@charset "utf-8";
@font-face { font-family: "Avenir Medium"; src: url(Avenir%20LT%2065%20Medium.ttf); }
body { margin: 0px; padding: 0px; background: #efe9e9; }
.Page { width: 100%; }
ul { list-style: none; }
img { border: none; }
a { text-decoration: none; color: #51938f; }
.header { max-width: 1482px; padding-top: 24px; padding-left: 57px; padding-right: 53px; margin: auto; }
.header_logo { display: inline-block; margin-top: 26px; }
.header_logo_img { display: inline-block; }
.header_logo_txt { display: inline-block; }
.header_right { float: right; position: absolute; right: 130px; top: 10px; }
.head_menu { display: inline-block; margin-top: 5px; margin-right: 28px; }
.head_menu ul li { display: inline-block; padding-left: 14px; }
.head_menu ul { margin-top: 5px; padding: 0px; }
.head_menu a { border-right: 2px solid white; padding-right: 17px; font-size: 20px; font-family: Avenir Medium; color:white;}
.topmenu ul { margin: 0px; }
.topmenu ul li { display: inline-block; list-style: none; margin-left: 10px; border-left: rgb(0,0,0); color: rgb(255,255,255); }
.topmenu span:hover { border-bottom: 8px solid #ea756f; background-repeat: repeat-x; padding-bottom: 17px; }
.topmenu a { border-right: 2px solid white;color: white;font-size: 20px;padding-right: 17px;}
.topmenu { margin-top: 25px; text-align: right; }
.Last { border-right: none !important; padding-right: 0px !important; }
.social_icons { display: inline-block; vertical-align: top; margin-top: 8px; margin-right: 17px; }
.mail, .fb, .twitter { display: inline-block; }
.google_play { display: inline-block; vertical-align: top; }
/*.top_image { margin-top: 39px;        height: 570px; }*/
.top_image img { width: 100%; }
/******************UPLOAD IMAGE***************/



.upload_img { margin-top: -232px; margin-left: 107px; position: absolute; width: 268px; height: 57px; background: url(../images/upload_image.png); overflow: hidden; }
.upload_img input { display: block !important; width: 268px !important; height: 57px !important; opacity: 0 !important; overflow: hidden !important; cursor: pointer; }
.jcrop-keymgr { display: none; }
.preview { width: 640px; border: solid 1px #dedede; padding: 10px; }
#preview { color: #cc0000; font-size: 12px }
#loader { bottom: -126px; left: 245px; position: absolute; width: 187px; }
/******************UPLOAD IMAGE***************/



.header_bottom { background: #ccb1b1; width: 100%; height: 144px; text-align: center; padding-bottom: 13px; }
.header_bottom img { margin-top: 33px; }
.content { max-width: 1482px; margin: auto; padding-bottom: 94px; text-align: center; }
.block { width: 280px; height: 340px; background: #fff; margin: 78px 40px 0px 40px; text-align: center; position: relative; display: inline-block; padding-top: 17px; }
.block-details { width: 40%; height: 440px; background: #fff; margin: 78px 40px 0px 40px; text-align: center; position: relative; display: inline-block; padding-top: 17px; }
.sewing, .shopping, .star, .plus { display: inline-block; margin-right: 35px; }
.block_footer { position: absolute; bottom: 11px; left: 31px; }
.footer { height: 96px; background: #51938f; }
.footer_content { width: 100%; max-width: 1030px; margin: auto; padding-top: 39px; }
.footer_logo { display: inline-block; }
.footer_social { position: absolute; right: 130px; }
.desc { display: block; }
.desc #top_banner { height: auto !important; }
.tablet { display: none; }
.mobile { display: none; }
/*------------------------small---------------------------*/







.small_content { margin: auto; max-width: 1200px; padding-bottom: 94px; text-align: center; }
.small_descrition { background: #ea756f; display: inline-block; vertical-align: top; color: #fff; font-family: "Avenir Medium"; height: 408px; width: 100%; font-size: 24px; text-align: left; }
.small_description_text { margin-top: 87px; margin-left: 40px; display: inline-block; max-width: 37%; vertical-align: top; line-height: 35px; }
.small_video { display: inline-block; }
.small_bottom_part { background: url(../images/text_bg.png) repeat-x; max-width: 1114px; width: 100%; margin: 30px auto 0px auto; }
.small_bottom_head { background: url(../images/text_top.png) top; height: 20px; margin-bottom: 30px; }
.small_bottom_column1, .small_bottom_column2, .small_bottom_column3 { display: inline-block; width: 26%; text-align: justify; vertical-align: top; margin-left: 19px; margin-right: 28px; font-family: "Avenir Medium"; color: #7d7d7d; font-size: 14px; line-height: 21px; }
.small_bottom_column2, .small_bottom_column3 { margin-top: 41px; margin-bottom: 10px; }
.column1_head { margin-bottom: 10px; font-size: 25px; font-family: "Avenir Medium"; color: #5b5b5b; }
.column1_body ul { padding-left: 25px; }
.column1_body ul li { list-style-image: url(../images/bulet.png); }
.small_tablet_menu { display: none; }
.category-title { display: none; }
/*----------------------------------------------11-04-2014-------------------------*/







.clearer:after, .header-container:after, .header-container .top-container:after, .header:after, .header .quick-access:after, #nav:after, .main:after, .footer:after, .footer-container .bottom-container:after, .col2-set:after, .col3-set:after, .col3-layout .product-options-bottom .price-box:after, .col4-set:after, .search-autocomplete li:after, .block .block-content:after, .block .actions:after, .block li.item:after, .block-poll li:after, .block-layered-nav .currently li:after, .page-title:after, .products-grid:after, .products-list li.item:after, .box-account .box-head:after, .dashboard .box .box-title:after, .box-reviews li.item:after, .box-tags li.item:after, .pager:after, .sorter:after, .ratings:after, .add-to-box:after, .add-to-cart:after, .product-essential:after, .product-collateral:after, .product-view .product-img-box .more-views ul:after, .product-view .box-tags .form-add:after, .product-view .product-shop .short-description:after, .product-view .box-description:after, .product-options .options-list li:after, .product-options-bottom:after, .product-review:after, .cart:after, .cart-collaterals:after, .cart .crosssell li.item:after, .opc .step-title:after, .checkout-progress:after, .multiple-checkout .place-order:after, .group-select li:after, .form-list li:after, .form-list .field:after, .buttons-set:after, .page-print .print-head:after, .advanced-search-summary:after, .gift-messages-form .item:after, .send-friend .form-list li p:after { clear: both; content: "."; display: block; font-size: 0; height: 0; line-height: 0; overflow: hidden; }
.cart .page-title { border-bottom: 0 none; margin: 0 0 12px; }
.cart .page-title h1 { margin: 10px 0 0; font: 12px/1.55 Arial, Helvetica, sans-serif; }
.title-buttons h1, .title-buttons h2, .title-buttons h3, .title-buttons h4, .title-buttons h5, .title-buttons h6 { float: left; }
.page-title h1, .page-title h2 { color: #0A263C; font-size: 20px; margin: 0; }
.cart .title-buttons .checkout-types { float: right; }
ul, ol { list-style: none outside none; }
.cart .title-buttons .checkout-types li { float: left; margin: 0 0 5px 5px; }
button.btn-checkout span { background: url("../images/btn_checkout.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0); border: 0 none; color: #FFFFFF; font: bold 15px/40px Arial, Helvetica, sans-serif; height: 40px; padding: 0 0 0 9px; }
button.btn-checkout span span { background-position: 100% 0; padding: 0 25px 0 16px; }
.messages, .messages ul { list-style: none outside none !important; padding: 0 !important; }
.messages { margin-left: 10px !important; overflow: hidden; width: 100%; }
.messages li { margin: 0 0 10px !important; }
.success-msg { background-color: #EFF5EA; background-image: url("../images/i_msg-success.gif"); border-color: #446423; color: #3D6611; }
.data-table { border: 1px solid #BEBCB7; width: 100%; }
.data-table tfoot { border-bottom: 1px solid #D9DDE3; }
.data-table .odd { background: none repeat scroll 0 0 #F8F7F5; }
.data-table tr.last th, .data-table tr.last td { border-bottom: 0 none !important; }
.data-table tbody th, .data-table tbody td { border-bottom: 1px solid #D9DDE3; border-right: 1px solid #D9DDE3; }
.cart-table td { padding: 10px; }
.account-login .content { -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; background: url("../images/bkg_login-box.gif") repeat-x scroll 0 0 #FAF7EE; border-color: #BBB6A5 #BBB6A5 -moz-use-text-color; border-image: none; border-style: solid solid none; border-width: 1px 1px 0; min-height: 345px; padding: 14px 21px; }
.col2-set .col-1 { float: left; width: 48.5%; }
.col2-set .col-2 { float: right; width: 48.5%; }
.account-login .registered-users h2 { background-image: url("../images/i_page2.gif"); }
.account-login .content h2 { background-position: 0 1px; background-repeat: no-repeat; border-bottom: 1px solid #DDDDDD; color: #E76200; font-size: 13px; font-weight: bold; margin: 0 0 14px; padding: 0 0 5px 23px; text-transform: uppercase; }
.form-list label.required em { color: #EB340A; float: right; font-style: normal; position: absolute; right: -8px; top: 0; }
.form-list .input-box { clear: both; display: block; width: 260px; }
.form-list input.input-text { width: 254px; }
p.required { color: #EB340A; font-size: 11px; text-align: right; }
.account-login, .account-create { /*    background: url("../images/bkg_main2.gif") no-repeat scroll 0 0 #FFFFFE;*/ margin: 0 auto; min-height: 400px; padding: 25px 25px 80px; text-align: left; width: 900px; }
.account-login .page-title, .account-create .page-title { border-bottom: 1px solid #CCCCCC; margin: 0 0 25px; overflow: hidden; width: 100%; display: none; }
.col2-set .content { width: auto; }
.account-login .buttons-set { -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; background: url("../images/bkg_buttons-set1.gif") repeat-x scroll 0 0 #DEE5E8; border-color: -moz-use-text-color #BBB6A5 #BBB6A5; border-image: none; border-right: 1px solid #BBB6A5; border-style: none solid solid; border-width: 0 1px 1px; margin: 0; padding: 8px 13px; font: 12px/1.55 Arial, Helvetica, sans-serif; }
.buttons-set button.button { float: right; margin-left: 5px; }
button.button { background: none repeat scroll 0 0 rgba(0, 0, 0, 0); border: 0 none; cursor: pointer; margin: 0; overflow: visible; padding: 0; width: auto; }
button.button span { background: none repeat scroll 0 0 #F18200; border: 1px solid #DE5400; color: #FFFFFF; display: block; font: bold 12px/19px Arial, Helvetica, sans-serif; height: 19px; padding: 0 8px; text-align: center; white-space: nowrap; }
button.button span span { border: 0 none; padding: 0; }
.f-left, .left { float: left !important; }
.buttons-set a, .box-account a, .block-content a, .cart a, .my-wishlist a { color: #1E7EC8; text-decoration: underline; }
.col2-set .content p { font-size: 0.75em; line-height: 2em; }
.fieldset { background: none repeat scroll 0 0 #FBFAF6; border: 1px solid #BBAFA0; margin: 28px 0; padding: 22px 25px 12px 33px; text-align: left; font: 12px/1.55 Arial, Helvetica, sans-serif; }
.fieldset .legend { background: none repeat scroll 0 0 #F9F3E3; border: 1px solid #F19900; color: #E76200; float: left; font-size: 13px; font-weight: bold; margin: -33px 0 0 -10px; padding: 0 8px; position: relative; }
.form-list { padding: 0; }
.form-list li { margin: 0 0 8px; }
.form-list .field { float: left; width: 275px; }
.form-list label.required em { color: #EB340A; float: right; font-style: normal; position: absolute; right: -8px; top: 0; }
.form-list input.input-text { width: 193px; }
.form-list li.control input.radio, .form-list li.control input.checkbox { margin-right: 6px; }
.buttons-set { border-top: 1px solid #E4E4E4; clear: both; margin: 20px 0 0; padding: 8px 0 0; text-align: right; }
.buttons-set .back-link { float: left; margin: 0; font: 12px/1.55 Arial, Helvetica, sans-serif; }
.col-left { float: left; padding: 0 0 1px; width: 195px; }
.block-account { border-color: #BBBBBB; }
.block-account .block-title { background: url("../images/bkg_block-title-account.gif") repeat-x scroll 0 100% #FC9D36; border: 0 none; padding: 3px 10px; }
.block-account .block-title strong { color: #FFFFFF; font-size: 13px; }
.block .block-title strong { display: block; min-height: 16px; padding: 1px 0; text-transform: uppercase; }
.block-account .block-content { background: none repeat scroll 0 0 #FBFAF6; padding: 7px 10px; }
.block-account .block-content li.current { border-bottom: 1px solid #DDDDDD; color: #EA7900; padding: 3px 0; }
.block-banner { border: 0 none; }
.block-banner .block-content { padding: 0; text-align: center; }
.block-cart, .block-wishlist, .block-subscribe, .block-compare, .block-reorder, .block-poll, .block-gr-search, .block-viewed, .block-compared, .block-related, .block-tags, .block-login { font-size: 11px; line-height: 1.25; }
/*.block {



    border: 1px solid #C4C1BC;



    margin: 0 0 15px;



}*/



.block .block-title { background: url("../images/bkg_block-title.gif") repeat-x scroll 0 0 rgba(0, 0, 0, 0); border-bottom: 1px solid #DDDDDD; padding: 2px 9px; }
.block-cart .block-title strong { background-image: url("../images/i_block-cart.gif"); }
.block-cart .block-title strong, .block-wishlist .block-title strong, .block-subscribe .block-title strong, .block-compare .block-title strong, .block-reorder .block-title strong, .block-poll .block-title strong, .block-viewed .block-title strong, .block-compared .block-title strong, .block-related .block-title strong, .block-tags .block-title strong, .block-login .block-title strong { background-position: 0 0; background-repeat: no-repeat; padding-left: 21px; }
.block .block-title strong { color: #E26703; display: block; font: bold 12px/16px Arial, Helvetica, sans-serif; min-height: 16px; text-transform: uppercase; }
.block-account .block-content li a { border-bottom: 1px solid #DDDDDD; color: #5F5D5C; display: block; font: bold 12px/16px Arial, Helvetica, sans-serif; padding: 3px 0; text-decoration: none !important; }
.col-main .my-account { float: left; padding: 0 0 1px; width: 100%; margin-right: 15px; }
.box-account { -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; background: url("../images/bkg_account_box.gif") repeat-x scroll 0 0 #FFFFFF; border-color: #CCCCCC #999999 #999999 #CCCCCC; border-image: none; border-style: solid; border-width: 1px; margin: 0 0 20px; padding: 15px; }
.box-account .box-head { border-bottom: 1px solid #D9DDE3; margin: 0 0 10px; text-align: right; }
.box-account .box-head h2 { background-position: 0 0; background-repeat: no-repeat; color: #E65505; float: left; font-size: 13px; font-weight: bold; margin: 0; padding-left: 0; text-transform: uppercase; }
.block-account ul li { display: block; }
address { font-style: normal; line-height: 1.35; }
.col-left .block { margin-left: 15px; }
.page-title { border-bottom: 1px solid #CCCCCC; margin: 0 0 25px; width: 100%; }
.dashboard, .cart { font: 12px/1.55 Arial, Helvetica, sans-serif; }
.dashboard .welcome-msg { margin: 0 0 25px 0; }
.dashboard .welcome-msg p { margin: 0; }
.dashboard .box .box-title { background: url("../images/bkg_divider1.gif") repeat-x scroll 0 100% rgba(0, 0, 0, 0); margin: 0 0 8px; padding: 0 0 2px; text-align: right; }
.dashboard .box .box-title h3, .dashboard .box .box-title h4 { float: left; font-size: 13px; font-weight: bold; margin: 0; }
.dashboard .col2-set { margin: 0 0 15px; }
.dashboard .box-info h4 { font-size: 12px; font-weight: bold; text-transform: uppercase; }
.dashboard .box-info .box-head h2 { background-image: url("../images/i_ma-info.gif"); }
.dashboard .box { text-align: left; }
.block-compare .block-title strong { background-image: url("../images/i_block-list.gif"); background-position: 0 1px; }
.block-cart .amount a { font-weight: bold; }
.block-cart .subtotal { background: none repeat scroll 0 0 #FBEBD9; margin: 5px 0 0; padding: 2px 0; text-align: center; }
.block-cart .actions { border-bottom: 1px solid #C2C2C2; }
.block .actions { background: url("../images/bkg_block-actions.gif") repeat-x scroll 0 0 #DEE5E8; padding: 6px 9px; text-align: right; }
.block-cart .summary { background: none repeat scroll 0 0 #FFFFFF; margin: -1px 0 0; padding: 2px 8px 8px; position: relative; z-index: 1; }
.block .block-subtitle { color: #0A263C; font-size: 1em; font-weight: bold; margin: 0; padding: 5px 9px; }
.block .block-content li.item { padding: 7px 9px; }
.block li.odd { background-color: #F4F3F3; }
.mini-products-list .product-image { border: 1px solid #A9A9A9; float: left; width: 50px; }
.mini-products-list .product-details { margin-left: 60px; }
.block .btn-remove, .block .btn-edit { float: right; margin: 1px 0 2px 5px; }
.btn-remove { background: url("../images/btn_remove.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0); display: block; font-size: 0; height: 11px; line-height: 0; overflow: hidden; text-indent: -999em; width: 11px; }
.btn-edit { background: url("../images/btn_edit.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0); display: block; font-size: 0; height: 11px; line-height: 0; overflow: hidden; text-indent: -999em; width: 11px; }
.block-cart .mini-products-list .product-details .product-name, .block-cart .mini-products-list .product-details .nobr small { word-wrap: break-word; }
.block .block-content .product-name { color: #1E7EC8; }
.product-name { font-size: 1em; font-weight: normal; margin: 0; }
.product-name a { color: #1E7EC8; }
.price { white-space: nowrap !important; }
/**{



    margin: 0;



    padding: 0;



}*/







.nobr { white-space: nowrap !important; }
.cart { margin-left: 10px; margin-right: 10px; }
.data-table thead th { background: url("../images/bkg_th.gif") repeat-x scroll 0 100% #D9E5EE; color: #0A263C; font-weight: bold; white-space: nowrap; }
.data-table tr.last th, .data-table tr.last td { border-bottom: 0 none !important; }
table { border: 0 none; border-spacing: 0; empty-cells: show; font-size: 100%; }
.a-center { text-align: center !important; }
.data-table tfoot tr { background-color: #DEE5E8 !important; }
.cart-table .btn-empty span, .cart-table .btn-continue span, .cart-table .btn-update span { background: none repeat scroll 0 0 #618499; border-color: #406A83; }
.btn-remove2 { background: url("../images/btn_trash.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0); display: block; font-size: 0; height: 16px; line-height: 0; overflow: hidden; text-indent: -999em; width: 16px; }
fieldset { border: 0 none; }
.cart .cart-collaterals { padding: 25px 0 0; }
.cart .cart-collaterals .col2-set { float: left; width: 605px; }
.cart .cart-collaterals .col2-set .col-2 { width: 294px; }
.cart .discount, .cart .shipping { background: url("../images/bkg_block-title.gif") repeat-x scroll 0 0 #FFFFFF; border: 1px solid #D0CBC1; margin: 0 0 18px; padding: 12px 15px; }
.cart .discount h2 { background-image: url("../images/i_discount.gif"); }
.cart .shipping h2 { background-image: url("../images/i_shipping.gif"); }
.cart .discount h2, .cart .shipping h2 { background-position: 0 0; background-repeat: no-repeat; color: #E26703; font: bold 13px/16px Arial, Helvetica, sans-serif; padding: 0 0 0 21px; text-transform: uppercase; }
.cart .discount .input-box { margin: 8px 0 0; width: 260px; }
.cart .discount input.input-text { width: 254px; }
.cart .discount .buttons-set, .cart .shipping .buttons-set { border: 0 none; margin: 10px 0 0; padding: 0; text-align: left; }
.cart .discount .buttons-set button.button, .cart .shipping .buttons-set button.button { float: none; margin-left: 0; }
.cart .discount button span, .cart .shipping button span { background: none repeat scroll 0 0 #618499; border-color: #406A83; }
.cart .discount button span, .cart .shipping button span { background: none repeat scroll 0 0 #618499; border-color: #406A83; }
.form-list select { width: 200px; }
.form-list .input-box { clear: both; display: block; width: 260px; }
.cart .totals { background: none repeat scroll 0 0 #DEE5E8; border: 1px solid #BEBCB7; float: right; width: 268px; }
.cart .totals table { margin: 7px 0; width: 100%; }
.cart .totals tfoot td { padding-bottom: 5px; padding-top: 5px; }
.cart .totals tfoot th strong, .cart .totals tfoot td strong { font-size: 15px; }
.price { white-space: nowrap !important; }
.cart .totals td { padding: 1px 15px 1px 7px; }
.a-right { text-align: right !important; }
caption, th, td { font-weight: normal; text-align: left; vertical-align: top; }
.cart .totals .checkout-types { font-size: 13px; padding: 8px 15px 15px; text-align: right; }
.cart .totals .checkout-types li { clear: both; margin: 10px 0; }
.block ol { padding: 0; margin: 0; }
.messages li { margin: 0 0 10px !important; }
.success-msg { background-color: #EFF5EA; background-image: url("../images/i_msg-success.gif"); border-color: #446423; color: #3D6611; }
.error-msg, .success-msg, .note-msg, .notice-msg { background-position: 10px 9px !important; background-repeat: no-repeat !important; border-style: solid !important; border-width: 1px !important; font-size: 11px !important; font-weight: bold !important; min-height: 24px !important; padding: 8px 8px 8px 32px !important; }
.my-wishlist .data-table td { padding: 10px; }
.my-wishlist .product-name { font-size: 1em; font-weight: normal; margin: 0; }
.my-wishlist .product-name a { color: #1E7EC8; }
.my-wishlist textarea { display: block; height: 109px; width: 97%; }
.my-wishlist input.input-text:focus, select:focus, textarea:focus { background-color: #EDF7FD; }
.my-wishlist input.input-text, textarea { padding: 2px; }
.my-wishlist input.input-text, select, textarea { background: none repeat scroll 0 0 #FFFFFF; border: 1px solid #B6B6B6; }
.my-wishlist { font: bold 13px/16px Arial, Helvetica, sans-serif; }
caption, th, td { font-weight: normal; text-align: left; }
.price-box { margin: 5px 0; }
.regular-price { color: #C76200; }
.regular-price .price { color: #C76200; font-size: 13px; font-weight: bold; }
.price-box .price { color: #C76200; font-weight: bold; }
input.qty { width: 2.5em !important; }
.my-wishlist p { margin-top: 10px; }
.add-to-cart-alt { margin: 0; padding: 0; }
.form-list label { color: #666666; font-size: 0.8em; font-weight: bold; position: relative; z-index: 0; }
.product-essential { background: url("../images/bkg_product-view.gif") no-repeat scroll 100% 0 #FFFFFF; padding: 25px; }
.product-view { width: 40%; height: 450px; background: #fff; margin: 78px 40px 0px 40px; text-align: center; position: relative; display: inline-block; padding-top: 17px; }
.zoom { display: none; }
.product-essential h2 { font: bold 13px/1.35 Arial, Helvetica, sans-serif; }
.short-description { margin: 10px 0; padding: 10px 0 0; }
.pullmenu { display: none; }
.nav-parent { display: none; }
 @media screen and (max-width: 920px) {
.header { padding-left: 12px; padding-right: 12px; }
.header_logo_img { display: none; }
.header_bottom img { max-width: 693px; width: 100%; }
.top_image { margin-top: 46px; margin-bottom: 15px; }
.desc { display: none; }
.tablet { display: block; }
.header_bottom { height: 108px; }
.block { margin: 78px 53px 0px 40px; }
.footer_content { max-width: 716px; }
.mobile { display: none; }
.product-view { width: auto; height: 450px; background: #fff; margin: 78px 40px 0px 40px; text-align: center; position: relative; display: inline-block; padding-top: 17px; }
.confirmMobile { margin: 15px auto !important; width: 25% !important; }
.header_right {display:none;}
.footermenu {font-family: arial; margin-left: 8%; position: relative; top: 10px; font-size: 1.1em;}
.mobile_menu { display: inline-block; float: right; margin-right: 7px; margin-top: -92px;}
}
 @media screen and (max-width: 760px) {
.desc { display: none; }
.header_logo_img { display: inline-block; }
.upload_img { position: relative; margin: auto; }
.mobile { display: block; }
.header_right { display: none; }
.mobile_menu { display: inline-block; float: right; margin-right: 7px; margin-top: -74px;}
.header { padding-top: 21px; }
.header_logo { margin-top: 0px; }
.tablet { display: none; }
.top_image { margin-top: 10px; }
.header_bottom { display: none; }
.block { margin: 78px auto 0px auto; display: block; }
.header_logo_txt img { max-width: 148px; }
.footer { height: 48px; }
.footer_content { padding-top: 8px; max-width: 704px; }
.footer_logo { padding-left: 10px; }
.google_play { display: none; }
.product-view { width: auto; height: 450px; background: #fff; margin: 78px 40px 0px 40px; text-align: center; position: relative; display: inline-block; padding-top: 17px; }
.pmenu { display: none; }
.nav-parent { display: block; position: absolute; right: 0; top: 62px; width: 53%; z-index: 2; }
nav { font-family: 'PT Sans', Arial, sans-serif; font-size: 11pt; font-weight: bold; height: 40px; position: absolute; width: 100%; }
nav ul { border-top: 1px solid #ea756f; height: 40px; margin: 0 auto; padding: 0; width: 100%; }
.nav-parent nav li { background-color: #EFE9E9; border-bottom: 1px solid #ea756f; border-left: 1px solid #ea756f; display: block; float: none; width: 100%; }
.nav-parent nav li a { border-bottom: medium none; border-right: medium none; text-decoration : none; display : block; padding : 6px 6px 6px 13px; }
.jcrop-holder { width: 100% !important; height: 100% !important; }
 .jcrop-keymgr:next img {
 max-width:100% !important;
}
.remodal-cancel { left: 40px; position: absolute; top: 5px; }
.remodal-submit { left: 175px; position: absolute; top: 5px; }
.column1_head { color: #5b5b5b; font-size: 18px; margin-bottom: 10px; margin-top: 15px; }
.remodal { min-height: 100% !important; }
.cropbox { width: 100%; }
.api-results input, .api-results select { width: 165px !important; }
.confirmMobile { margin: 15px auto !important; width: 25% !important; }
.logo-image { position: absolute; width: 63px;}
.logo-link {padding-left: 84px !important; }
.logo-text { font-size: 1.7em !important;}
.footer_social {right: 0;}
.footermenu {font-family: arial; font-size: 1em; margin-left: 8px !important; position: relative; top: 12px;}
}
.confirmMobile { width: 100% !important; }
 @media screen and (max-width: 320px) {
.product-view { width: 80%; height: 450px; background: #fff; margin: 78px 40px 0px 40px; text-align: center; position: relative; display: inline-block; padding-top: 17px; }
.confirmMobile { width: 94% !important; margin: 15px auto 15px 15px !important; }
.footer_social {right: 0;}
.footermenu {font-family: arial; font-size: 12px !important; margin-left: 8px !important; position: relative; top: 12px;}
}
 @media only screen and (min-width : 921px) and (max-width : 1280px) {
.header_right { right: 15px;}
}
 @media only screen and (min-width : 1450px) and (max-width : 1700px) {
.block { background: none repeat scroll 0 0 #FFFFFF; display: inline-block; height: 350px !important; margin: 78px 40px 0; padding-top: 17px; position: relative; text-align: center; width: 20% !important; }
}
/*************Products Display**************/



.api-results .strike { text-decoration: line-through; }
.api-results .salePrice { font-weight: 500; color: #090; }
.api-results .block { margin: 29px 20px 0 !important; }
.api-results .block_img { height: 233px; overflow: hidden; }
.api-results .block_img img { max-width: 100%; max-height: 100%; }
.api-results .block_footer { position: inherit !important; left: auto !important; bottom: 0px !important; font-family: Helvetica; font-size: 0.9em; }
.buy-now-button { background: -moz-linear-gradient(center top, #79BBFF 5%, #378DE5 100%) repeat scroll 0 0 #79BBFF; border: medium none; border-radius: 0; box-shadow: 0 1px 0 0 #BBDAF7 inset; color: #FFFFFF; cursor: pointer; height: 28px; margin-top: -5px; float: right; margin-right: 10px; }
.buy-now-button:hover { background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) ); background: -moz-linear-gradient( center top, #378de5 5%, #79bbff 100% ); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
background-color: #378de5; }
.buy-now-button:active { position: relative; top: 1px; }
.api-results .product-name { height: 50px; }
/*************Pagination**************/



.pagination { background: #f2f2f2; padding: 20px; margin-bottom: 20px; margin-top: 20px; }
.pagination .page { display: inline-block; padding: 0px 9px; margin-right: 4px; border-radius: 3px; border: solid 1px #c0c0c0; background: #e9e9e9; box-shadow: inset 0px 1px 0px rgba(255,255,255, .8), 0px 1px 3px rgba(0,0,0, .1); font-size: .875em; font-weight: bold; text-decoration: none; color: #717171; text-shadow: 0px 1px 0px rgba(255,255,255, 1); }
.pagination .page:hover, .pagination .page.gradient:hover { background: #fefefe; background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FEFEFE), to(#f0f0f0)); background: -moz-linear-gradient(0% 0% 270deg, #FEFEFE, #f0f0f0); }
.pagination .page.active { border: none; background: #616161; box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .8); color: #f0f0f0; text-shadow: 0px 0px 3px rgba(0,0,0, .5); }
.fav_icon { vertical-align: sub; float: left; margin-left: 10px; cursor: pointer;}
.info { display: block; font: 12px/1.55 Arial, Helvetica, sans-serif; padding: 40px 0 0 0; }
.saveSearch { padding: 20px 0; }
.saveSearch, .api-results { font: 12px/1.55 Arial, Helvetica, sans-serif; }
.saveSearch input[type='submit'], .api-results input[type='submit'] { display: inline-block; color: #FFF; font: 14px/1.55 Arial, Helvetica, sans-serif; padding: 5px 10px; background-color: #71B0A8; border: none; }
.api-results input[type='text'], .api-results select { font-family: arial; font-size: 12px; line-height: 14px; padding: 5px; margin: 0; }
.api-results label { display: inline-block; line-height: 28px; }
.api-results form { text-align: left; width: 100%; padding: 0 37%; box-sizing: border-box; }

/*------------------------------------------------------------------------------------------------------CSS by Hassan - 9914*/
.bucketList-title { border-bottom: 1px solid #CCC; margin: 0 0 25px; padding: 20px 0 0 0; color: #0A263C; font-size: 20px; font-family: Arial, Helvetica, sans-serif; text-align: center; }
.bucketList { margin: 0; padding: 0; list-style: none; width: 100%; }
.bucketList li { float: left; width: 20%; padding: 15px; box-sizing: border-box; margin: 0 0 40px 0; text-align: center; font: 14px/1 Arial, Helvetica, sans-serif; }
.bucketList li img { width: 100%; height: auto; margin: 20px auto }
.bucketList li a { color: #FFF; font: 13px/1 Arial, Helvetica, sans-serif; font-weight: 400; display: inline-block; padding: 10px 20px; background-color: #71B0A8; }
@media screen and (min-width: 320px) and (max-width: 640px) {
	.bucketList li { width: 50%; }
}


/*-----------------Compass moda style**-----------------*/
.small_header {
    background-color: #51938f;
    height: auto;
    margin: auto;
    min-height: 62px;
}
.small_desc {
    display: block;
    float:left;
}

.logo-text {
    color: #595857;
    font-family: Avenir Book,Arial,Helvetica,sans-serif;
    font-size: 3em;
    text-align: left;
}

.footermenu ul { margin: 0px; }
.footermenu ul li { display: inline-block; list-style: none; margin-left: 10px; border-left: rgb(0,0,0); color: rgb(255,255,255); }
.footermenu a { border-right: 2px solid white;color: white;font-size: 20px;padding-right: 17px;}
.footermenu {font-family: arial; margin-left: 8%; position: relative; top: 10px; font-size: 1.1em; color: white;}
.navigate{display: none;}
.pause{display: none;}
#play_btn{display: none;}
.logo-image{position: absolute; width: 83px; height: 76px;}
.logo-link{display: inline-block; padding-left: 90px;}
.copy-text {font-family: Avenir Book,Arial,Helvetica,sans-serif; text-align: left;}